<div class="game-board">
    <table class="scoreboard">
        <caption>Tapan Parekh</caption>
        <thead>
            <tr>
                <th *ngFor="let frame of frames" class="table-data">{{frame.id}}</th>
                <th class="score" class="table-data">Score</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td *ngFor="let frame of frames" [ngClass]="{'active':frame.isActive,'table-data':true}">
                    <div class="rolls">
                        <div class="roll" *ngFor="let roll of frame.rolls">
                            <span>{{roll}}</span>
                        </div>
                    </div>
                </td>
                <td rowspan="2" class="total-score">
                    {{totalScore}}
                </td>
            </tr>
            <tr>
                <td *ngFor="let frame of frames" [ngClass]="{'active':frame.isActive,'table-data':true}">
                    <div class="frame-score">
                        <span *ngIf="frame.score>0">{{frame.score}}</span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <button id="reset-game-btn" (click)="resetGame()">Reset</button>
    <button id="reset-game-btn" routerLink="/home">Home</button>
</div>